.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  margin-top: 40px;
} 

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules > li > ul > ul > li {
  padding: 5px;
  background-color: white;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-buttons {
  text-align: right;
  margin-bottom: 20px;
}

.wd-buttons button {
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

.wd-main-body {
  padding-left: 48px;
  padding-right: 48px;
}

.wd-side-button {
  position: relative;
  top: 5px;
}

.btn-secondary {
  color: black;
  background-color: transparent;
  position: relative;
  bottom: 8px;
}

.btn-secondary:hover {
  background-color: transparent;
}

.wd-add > button {
  margin-right: 10px;
  background-color: #198754;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.wd-add > input {
  margin-right: 10px;
}

.wd-add > textarea {
  position: relative;
  top: 6px;
  height: 24px;
  width: 75%;
}

.dropdown-item:hover {
  background-color: #b8daff;
}